/*==================================*/
/*========== LETCOMM ===============*/
/* www.jamespankhurst.co.uk/letcomm */
/* jamespankhurst180@gmail.com      */
/* github.com/jamespankhurst/letcomm*/
/*==================================*/

#loading_bar{
	display: block; 
	position: absolute; 
	top: 10px; 
	left: 10px; 
}

/*-- MAIN CONTAINERS --*/
.flex-container { 
	display: flex; 
	flex-wrap: wrap; 
	flex-direction: column; 
	justify-content: center; 
	align-items: center; 
}
.flex-container > #page-container { 
	display: block; 
	position: relative; 
	top: 0px; 
	left: 0px; 
	width: 400px; 
	height: 600px; 
}


#header-bar { 
	display: block; 
	position: absolute; 
	font-size: 12px;
	top: 0px; 
	left: 0px; 
	width: 400px; 
	border: 0px solid #fff;
} 

#lclogo { 
	display: inline-block; 
	position: absolute; 
	top: 10px; 
	left: 0px; 
	width: 155px; 
	height: 60px; 
}

#lclogo-txt { 
	display: inline-block; 
	position: absolute; 
	font-size: 10px;
	top: 10px; 
	left: 165px; 
}

#menu-bar { 
	display: block; 
	position: absolute; 
	font-size: 14px;
	top: 100px; 
	left: 0px; 
} 

#arena-container { 
	display: block; 
	position: absolute; 
	font-size: 12px;
	top: 140px; 
	left: 0px; 
	width: 100%; 
	} 

#ctdiv {
	display: inline-block; 
	position: absolute; 
	top: 150px; 
	left: 50px; 
	
}
#tpdiv {
	display: inline-block; 
	position: absolute; 
	top: 200px; 
	left: 50px;
}

#commslinks { 
	display: block; 
	position: absolute; 
	top: 60px; 
	left: 0px; 
}

#comms-email {
	display: inline-block; 
	position: absolute; 
	font-size: 10px;
	top: 0px; 
	left: 0px; 
}
#comms-repo {
	display: inline-block; 
	position: absolute; 
	font-size: 10px;
	top: 0px; 
	left: 180px; 
}

#start-button { 
	display: inline-block; 
	position: relative; 
	}
.start-button {
padding-top: 0px;
padding-bottom: 2px;
padding-left: 5px;
padding-right: 5px;
font-size: 12px;
line-height: 18px;
font-style: italic;
text-align: right;
cursor: pointer;
color: #fff;
width: 120px;
background-color: #000;
border-right: 4px solid #666;
border-top: 0px solid #000;
border-left: 0px solid #fe000;
box-shadow: 0 4px #999;
zIndex: 99;
}
.start-button:hover {
color: #fff;
background-color: red;
}
.start-button:active {
border-right: 2px solid #999;
background-color: red;
color: #fff;
box-shadow: 0 4px #666;
transform: translateY(2px);
}
.end-button {
padding-top: 0px;
padding-bottom: 2px;
padding-left: 5px;
padding-right: 5px;
font-size: 8px;
line-height: 10px;
font-style: italic;
text-align: right;
cursor: pointer;
color: #fff;
width: 72px;
background-color: black;
border-right: 4px solid #666;
border-top: 0px solid #000;
border-left: 0px solid #000;
box-shadow: 0 4px #999;
zIndex: 99;
}
.end-button:hover {
color: #fff;
background-color: red;
}
.end-button:active {
border-right: 2px solid #999;
background-color: red;
color: #fff;
box-shadow: 0 4px #666;
transform: translateY(2px);
}

.game-button {
margin-top: 8px;
padding-bottom: 0px;
padding-left: 5px;
padding-right: 5px;
font-size: 12px;
font-style: italic;
text-align: right;
cursor: pointer;
color: #fff;
background-color: black;
border-right: 4px solid #999;
border-top: 0px solid #000;
border-left: 0px solid #000;
box-shadow: 0 4px #999;
z-index: 99;
}
.game-button:hover {
color: #fff;
background-color: #3dc238;
}
.game-button:active {
border-right: 2px solid #999;
background-color: green;
color: #fff;
box-shadow: 0 4px #666;
transform: translateY(2px);
}
/* @@@ END BUTTONS @@@*/
